:root {
    --box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px 5px rgba(0, 0, 0, 0.3),
      0 18px 23px 15px rgba(0, 0, 0, 0.2);
    --logo-width: 140px;
    --logo-height: 45px;
    --logo-font-size: 36px;
    --color1: #fff;
    --color2: #DFF0EA;
    --color3: #95ADBE;
    --color4: #574F7D;
    --color5: #4F3A65;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color2);
}

#landing-animation {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F48256;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.logo {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    overflow: hidden;
    border-radius: 0%;
    height: var(--logo-height);
    width: var(--logo-width);
    align-items: center;
    animation: scale 500ms forwards linear;
}

.roof, .floor {
    position: relative;
    border: 1px solid #101010;
    opacity: 0;
    width: 0%;
    animation: expand 1500ms forwards ease;
    animation-delay: 500ms;
}

@keyframes expand {
    25% {
        width: var(--logo-width);
        opacity: 1;
    }
    75%{
        width: var(--logo-width);
        opacity: 1;
    }
    100% {
        width: 0;
        opacity: 0;
    }

}

.logo p {
    font-family: 'Libre Baskerville', serif;
    position: relative;
    font-size: var(--logo-font-size);
    overflow: hidden;
    line-height: 60px;
}

.logo p:nth-of-type(1) {
    color: white;
    text-align: right;
    animation: slideRight 2s forwards ease, slideUp forwards 2s ease;
}

.logo p:nth-of-type(2) {
    animation: slideLeft 2s forwards ease, slideDown forwards 2s ease;
}

@keyframes slideRight {
    from {
        left: -100%
    }
    25% {
        left: 0;
    }
}

@keyframes slideUp {
    60% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -300%);
    }
}

@keyframes slideLeft {
    from {
        right: -100%
    }
    25% {
        right: 0;
    }
}

@keyframes slideDown {
    60% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 300%);
    }
}

@keyframes scale {
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1.0);
    }
}

main {
    height: 100%;
}
.slider {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides {
    width: 60vmin;
    height: 60vmin;
    overflow: hidden;
    position: relative;
}

.slides .slide {
    position: absolute;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    animation: slide 1s forwards ease;
    animation-delay: 2500ms;
    transform: translate(0, -100%);
    visibility: hidden;
}

#slide-1 {
    background-color: var(--color3);
    animation-delay: 3000ms;
}

#slide-2 {
    background-color:var(--color4);
    animation-delay: 4000ms;
}

#slide-3 {
    background-color: var(--color5);
    animation-delay: 5000ms;
}

@keyframes slide {
    to {
        visibility: visible;
        transform: translate(0, 0);
    }
}

.rolling-text {
    position: absolute;
    width: 100%;
    height: 20%;
    color: white;
    font-size: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rolling-text p {
    transform: translate(0, 200%);
    animation: roll 3000ms forwards ease;
    animation-delay: 3000ms;
    line-height: 2em;
    position: relative;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 5px;
}

@keyframes roll {
    33% {
        transform: translate(0, 100%)
    }
    66% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, -100%)
    }
}